body{
    margin: 0 20px;
    background-color: azure
    ;
}

.list-group{
    margin: 10px 0;
    width: 400px;
    
}

.signin{
   
    margin: 10px 0 ;
    display: block;
}

.btn 
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
}